<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body>

<div id="page-start-anchor"></div>

<!-- header start -->
{% set bottomNavbarItems = [
    {text: 'About', href: 'therapist.html#about'},
    {text: 'Services', href: 'therapist.html#services'},
    {text: 'Testimonials', href: 'therapist.html#testimonials'},
    {text: 'FAQ', href: 'therapist.html#faq'},
    {text: 'Vouchers', href: 'therapist.html#vouchers'},
    {text: 'Contacts', href: 'therapist.html#contacts'},
] %}
{% include 'includes/header.html' with {topNavbarText: true} %}
<!-- header end -->

<!-- page title start -->
<section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="jumbotron-title mb-0">Make A Reservation</h1>
    </div>
</section>
<!-- page title end -->

<!-- page content start -->
<section class="section py-21">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-lg-8 mb-20 mb-lg-0">
                <div class="form-collapsible-section mb-4" role="article" aria-expanded="true">
                    <div class="form-collapsible-section-head">
                        <span class="form-collapsible-section-number">1</span>
                        <span class="form-collapsible-section-title">Choose a massage</span>
                        <span class="form-collapsible-section-toggle">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </span>
                    </div>
                    <div class="form-collapsible-section-body">
                        <div class="form-selectable-label border-light" data-input="#radio-input-1">
                            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center py-5 px-14">
                                <div class="mr-9 py-5">
                                    <div class="fs-5 mb-2"><strong>Swedish massage</strong></div>
                                    <p class="mb-0 text-muted">Focused attention on the essentials: your back, neck and
                                        shoulders, where you need it most! Addresses tension headaches & office.</p>
                                </div>
                                <!-- min-width is required for old IE browsers -->
                                <div class="d-flex flex-wrap flex-md-nowrap align-items-center" style="min-width: 330px">
                                    <div class="py-5">
                                        <div class="radio-buttons-group mr-9">
                                            <button class="btn btn-light text-nowrap" data-value="60min">60 min</button>
                                            <button class="btn btn-light text-nowrap selected" data-value="90min">90 min
                                            </button>
                                        </div>
                                    </div>
                                    <div class="price fs-7 mr-9 text-black py-5">
                                        <div class="price-currency pr-0">$</div>
                                        <div class="price-value">110</div>
                                    </div>
                                    <div class="fs-5 py-5 d-flex">
                                        <input type="radio" name="service" value="1" class="custom-radio" checked
                                               id="radio-input-1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-selectable-label collapse-top border-light" data-input="#radio-input-2">
                            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center py-5 px-14">
                                <div class="mr-9 py-5">
                                    <div class="fs-5 mb-2"><strong>Example service</strong></div>
                                    <p class="mb-0 text-muted">Focused attention on the essentials: your back, neck and
                                        shoulders, where you need it most! Addresses tension headaches & office.</p>
                                </div>
                                <!-- min-width is required for old IE browsers -->
                                <div class="d-flex flex-wrap flex-md-nowrap align-items-center" style="min-width: 230px">
                                    <div class="py-5">
                                        <div class="radio-buttons-group radio-buttons-group-disabled mr-9">
                                            <button class="btn btn-light text-nowrap" data-value="60min">60 min</button>
                                        </div>
                                    </div>
                                    <div class="price fs-7 mr-9 text-black py-5">
                                        <div class="price-currency pr-0">$</div>
                                        <div class="price-value">290</div>
                                    </div>
                                    <div class="fs-5 py-5 d-flex">
                                        <input type="radio" name="service" value="2" class="custom-radio"
                                               id="radio-input-2"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-19"></div>
                    </div>
                </div>
                <div class="form-collapsible-section mb-4" role="article" aria-expanded="true">
                    <div class="form-collapsible-section-head">
                        <span class="form-collapsible-section-number">2</span>
                        <span class="form-collapsible-section-title">Date and time</span>
                        <span class="form-collapsible-section-toggle">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </span>
                    </div>
                    <div class="form-collapsible-section-body">
                        <div class="calendar"></div>
                        <div class="row mt-12">
                            <div class="col-12 col-sm mr-0 mr-md-9 mb-12 mb-sm-0">
                                <div class="mb-7">Morning</div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-1">
                                    <label for="time-slot-1" class="mb-0">9:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-1" value="1"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot" data-input="#time-slot-2">
                                    <label for="time-slot-2" class="mb-0">11:30 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-2" value="2"/>
                                </div>
                            </div>
                            <div class="col-12 col-sm mr-0 mr-md-9 mb-12 mb-sm-0">
                                <div class="mb-7">Afternoon</div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-3">
                                    <label for="time-slot-3" class="mb-0">13:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-3" value="3"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-4">
                                    <label for="time-slot-4" class="mb-0">15:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-4" value="4"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-5">
                                    <label for="time-slot-5" class="mb-0">16:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-5" value="5"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot" data-input="#time-slot-6">
                                    <label for="time-slot-6" class="mb-0">17:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-6" value="6"/>
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="mb-7">Evening</div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-7">
                                    <label for="time-slot-7" class="mb-0">18:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-7" value="7"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot mb-4" data-input="#time-slot-8">
                                    <label for="time-slot-8" class="mb-0">19:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-8" value="8"/>
                                </div>
                                <div class="form-selectable-label text-center time-slot" data-input="#time-slot-9">
                                    <label for="time-slot-9" class="mb-0">20:00 am</label>
                                    <input class="sr-only" type="radio" name="time" id="time-slot-9" value="9"/>
                                </div>
                            </div>
                        </div>
                        <div class="pb-19"></div>
                    </div>
                </div>
                <div class="form-collapsible-section mb-4" role="article" aria-expanded="true">
                    <div class="form-collapsible-section-head">
                        <span class="form-collapsible-section-number">3</span>
                        <span class="form-collapsible-section-title">Add your information</span>
                        <span class="form-collapsible-section-toggle">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </span>
                    </div>
                    <div class="form-collapsible-section-body">
                        <div class="form-group">
                            <div class="form-label mb-6">Location</div>
                            <div class="form-check form-check-inline">
                                <input class="custom-radio" type="radio" id="location-checkbox-1" name="location"
                                       value="option1" checked>
                                <label class="form-check-label" for="location-checkbox-1">My location</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="custom-radio" type="radio" id="location-checkbox-2" name="location"
                                       value="option2">
                                <label class="form-check-label" for="location-checkbox-2">At your location</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-5">
                                    <label for="full_name" class="form-label">Full name</label>
                                    <input type="text" class="form-control" id="full_name"/>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-5">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email"/>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-5">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="text" class="form-control" id="phone"/>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mb-5">
                                    <label for="address" class="form-label">Location address</label>
                                    <input type="text" class="form-control" id="address"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea id="message" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="pb-19"></div>
                    </div>
                </div>
                <div class="form-collapsible-section" role="article" aria-expanded="true">
                    <div class="form-collapsible-section-head">
                        <span class="form-collapsible-section-number">4</span>
                        <span class="form-collapsible-section-title">Payment</span>
                        <span class="form-collapsible-section-toggle">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </span>
                    </div>
                    <div class="form-collapsible-section-body">
                        <div class="form-group">
                            <div class="form-label mb-6">Choose payment method</div>
                            <div class="form-check form-check-inline">
                                <input class="custom-radio" type="radio" id="payment-radio-1" name="payment"
                                       value="option1" checked>
                                <label class="form-check-label" for="payment-radio-1">Cash at location</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="custom-radio" type="radio" id="payment-radio-2" name="payment"
                                       value="option2">
                                <label class="form-check-label" for="payment-radio-2">Credit card</label>
                            </div>
                        </div>
                        <div class="card border-primary border-bold">
                            <div class="card-body py-14 px-15">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mb-5">
                                            <label for="card_number" class="form-label">Card number</label>
                                            <input type="text" class="form-control" id="card_number"/>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="card_holder_name" class="form-label">Name on card</label>
                                            <input type="text" class="form-control" id="card_holder_name"/>
                                        </div>
                                        <div class="form-group mb-5">
                                            <div class="row">
                                                <div class="col-8">
                                                    <label for="card_expiry_date" class="form-label">Expiry date</label>
                                                    <input type="text" class="form-control" id="card_expiry_date"
                                                           placeholder="MM / YY"/>
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-inline-flex w-100 justify-content-between align-items-start">
                                                        <label for="card_cvc" class="form-label">CVC</label>
                                                        <i class="material-icons fs-5 text-muted cursor-pointer"
                                                           tabindex="0" data-toggle="popover" data-trigger="focus"
                                                           data-placement="right"
                                                           data-content="CVV number is printed on the signature panel on the back of the card immediately after the card's account number.">help</i>
                                                    </div>
                                                    <input type="password" class="form-control" id="card_cvc"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-none d-md-block position-absolute position-top-14 position-right-15">
                                    <div class="d-flex align-items-center">
                                        <i class="material-icons mr-1 text-primary">lock</i>
                                        <span class="fs-3 lh-3">Secure Payment</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="sticky-sidebar">
                    <article class="card border-0 bg-secondary">
                        <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                            <h1 class="fs-5 mb-12">Swedish massage</h1>
                            <div class="d-flex align-items-center mb-12">
                                <div class="radio-buttons-group radio-buttons-group-disabled mr-9">
                                    <button class="btn btn-light" data-value="60min">60 min</button>
                                </div>
                                <div class="price fs-7 text-black">
                                    <div class="price-currency pr-0">$</div>
                                    <div class="price-value">110</div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary d-block">Book now</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page content end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
