<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body class="d-flex flex-column">

<!-- header start -->
{% set bottomNavbarItems = [
    {text: 'About', href: 'therapist.html#about'},
    {text: 'Services', href: 'therapist.html#services'},
    {text: 'Testimonials', href: 'therapist.html#testimonials'},
    {text: 'FAQ', href: 'therapist.html#faq'},
    {text: 'Vouchers', href: 'therapist.html#vouchers'},
    {text: 'Contacts', href: 'therapist.html#contacts'},
] %}
{% include 'includes/header.html' with {topNavbarText: true} %}
<!-- header end -->

<!-- page title start -->
<section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="jumbotron-title mb-0">Make A Reservation</h1>
    </div>
</section>
<!-- page title end -->

<!-- page content start -->
<section class="section py-21 flex-grow-1 d-flex">
    <div class="container bg-secondary d-flex justify-content-center align-items-center flex-column py-20">
        <h1 style="font-size: 21px" class="font-weight-normal mb-0">Great, you are booked!</h1>
        <i class="material-icons text-primary fs-13 my-2">done</i>
        <strong class="fs-5 mb-2">Swedish massage</strong>
        <p class="mb-0">July 10, at 15:00 PM</p>
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center my-10">
            <div class="radio-buttons-group radio-buttons-group-disabled mr-9">
                <button class="btn btn-light text-nowrap" data-value="90min">90 min</button>
            </div>
            <div class="price fs-7 text-black">
                <div class="price-currency pr-0">$</div>
                <div class="price-value">110</div>
            </div>
        </div>
        <button class="btn btn-link">Add to my calendar</button>
    </div>
</section>
<!-- page content end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
