<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<div id="page-start-anchor"></div>

<!-- header start -->
{% include 'includes/header.html' with {ctaButton: {text: 'Register', href: '#register'}} %}
<!-- header end -->

<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="assets/images/image-45.jpg" alt="hero background" class="jarallax-img"/>
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
                <div class="card-body text-body p-10 p-lg-22">
                    <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">Inclusiville Arts Festival 2021</h2>
                    <p class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">
                        A festival to celebrate the local talent.
                    </p>
                    <a href="#schedule" class="btn btn-lg btn-primary">View schedule</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main hero end -->

<!-- "landings list" section start -->
<!-- <section class="section pt-21 pb-10 pb-md-9 pb-lg-4">
    <div class="section-content container">
        <div class="text-center mb-18 mb-md-19 mb-lg-20">
            <small class="fs-1 lh-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Carefully handcrafted landings for your business
            </small>
            <h1 class="mt-5 mt-md-0 fs-6 fs-md-9 fs-lg-10">Explore landing pages</h1>
        </div>
        <div class="row">
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-1.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Massage Therapist</h1>
                    </div>
                    <a href="therapist.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-2.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Lawyer / Attorney</h1>
                    </div>
                    <a href="attorney.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-3.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Contractor</h1>
                    </div>
                    <a href="contractor.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-4.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Beauty Salon</h1>
                    </div>
                    <a href="beauty.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-5.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Restaurant</h1>
                    </div>
                    <a href="restaurant.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20 d-flex flex-column">
                <div class="demo-card-placeholder">
                    <div class="demo-card-placeholder-text">
                        <div class="text-gray-40 font-weight-medium mb-14" style="font-size: 21px">
                            More Landings<br/>Coming Soon
                        </div>
                        <a href="mailto:request@htmlhunters.com" class="btn btn-link">Request a landing</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section> -->
<!-- "landings list" section end -->

<!-- "advanced booking form" section start -->
<!-- <section class="section bg-primary text-white pb-xl-0 pt-21">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-xl-4 text-center text-xl-left">
                <h1 class="fs-8 fs-md-9 fs-xl-10">Advanced Booking Form</h1>
                <ul class="list-unstyled my-18">
                    <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Advanced
                        Booking Datepicker jQuery plugin
                    </li>
                    <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;One
                        page booking form
                    </li>
                    <li class="d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Easy
                        step by step form
                    </li>
                </ul>
                <a href="booking.html" target="_blank" class="btn btn-lg btn-ghost">See live</a>
            </div>
            <div class="col-xl-8 text-right d-none d-xl-block">
                <img src="assets/images/demo-6.png" alt="booking form" srcset="assets/images/demo-6@2x.png 2x" />
            </div>
        </div>
    </div>
</section> -->
<!-- "advanced booking form" section end -->

<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container text-center">
        <h1 data-aria="H1 heading" data-speech class="mb-0">Welcome to IAF 2021</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <p data-aria=" " data-speech >This is a great space to write long text about your company and your services. You can use this space
                    to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show.</p>
            </div>
        </div>
    </div>
    <!-- <div class="section-content container mt-20">
        <div class="image-slider">
            <a data-aria="Link" data-speech href="#" class="image-slider-prev d-none d-md-flex">
                <i class="material-icons">arrow_back</i>
            </a>
            <a data-aria="Link" data-speech  href="#" class="image-slider-next d-none d-md-flex">
                <i class="material-icons">arrow_forward</i>
            </a>
            <div class="image-slider-contents">
                <div class="image-slider-item">
                    <img src="assets/images/image-26.jpg" alt="image" class="object-fit-cover w-100" height="600"/>
                </div>
                <div class="image-slider-item">
                    <img src="assets/images/image-27.jpg" alt="image" class="object-fit-cover w-100" height="600"/>
                </div>
            </div>
        </div>
        <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
            <p class="mb-lg-0 text-white" style="max-width: 700px">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco.</p>
            <a href="booking.html" class="btn btn-white-primary">Book online</a>
        </div>
    </div> -->
    <div class="section-content container mt-20">
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            Our sponsors
        </small>
        <div class="d-flex align-items-center mt-8">
            <div class="card-slider card-slider-brands mr-0 mr-lg-23 flex-grow-1" id="brands-slider"
                 data-options='{"contain":false,"groupCells":false,"wrapAround":true}'>
                <img src="assets/images/brand-6.jpg" class="card-slider-item" alt="brand 1" style="height: 30px"/>
                <img src="assets/images/brand-7.jpg" class="card-slider-item" alt="brand 2" style="height: 30px"/>
                <img src="assets/images/brand-8.jpg" class="card-slider-item" alt="brand 3" style="height: 30px"/>
                <img src="assets/images/brand-9.jpg" class="card-slider-item" alt="brand 4" style="height: 30px"/>
                <img src="assets/images/brand-7.jpg" class="card-slider-item" alt="brand 5" style="height: 30px"/>
                <img src="assets/images/brand-6.jpg" class="card-slider-item" alt="brand 1" style="height: 30px"/>
            </div>
            <div class="flex-shrink-0 d-none d-lg-block">
                <div class="btn-group">
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#brands-slider" data-action="prevSlide">
                        <i class="material-icons">arrow_left</i>
                    </button>
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#brands-slider" data-action="nextSlide">
                        <i class="material-icons">arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->
<!-- "our work" section start -->
<section class="section bg-secondary" id="schedule">
    <div class="section-content text-center container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    Celebrating local talent
                </small>
                <h1>Event Schedule</h1>
            </div>
            <div class="d-none d-md-block">
                <div class="btn-group">
                    <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#projects-grid">
                        <button class="btn btn-light selected" data-value="all">All</button>
                        <button class="btn btn-light" data-value="music">Music</button>
                        <button class="btn btn-light" data-value="art">Art</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
            <div class="shuffle-grid-item" data-groups="art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-55.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-56.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-57.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music,art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-58.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music,art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-59.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-60.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-61.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="art">
                <div class="card card-square bg-transparent border-0">
                    <div class="card-bg" style="background-image: url(assets/images/image-62.jpg)"></div>
                    <div class="card-bg card-bg-hover" style="background-color: rgba(0,0,0,.6)"></div>
                    <div class="card-body card-body-hover text-white d-flex align-items-center justify-content-center">
                        <i class="material-icons fs-8">zoom_in</i>
                    </div>
                    <a href="#" class="card-link-overlay"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "our work" section end -->
<!-- "frequently asked questions" section start -->
<section class="section" id="faq">
    <div class="section-content container">
        <h1 class="mb-17 text-center">FAQ</h1>
        <article class="faq faq-open">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
                <h1 class="faq-title">What is Swedish massage?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse show" id="faq-item-1">
                <p>Dictumst placerat suscipit dui suspendisse lacus ridiculus dis facilisis massa commodo,
                    feugiat sagittis eleifend arcu erat tempor integer sollicitudin metus, mollis bibendum
                    vestibulum diam nec tellus felis tristique pretium.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
                <h1 class="faq-title">What types of services does Blys offer?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-2">
                <p>Accumsan nibh facilisis efficitur netus dapibus facilisi proin lacinia, finibus phasellus
                    quis placerat ante per lorem senectus nisl, gravida vestibulum eros aenean sed convallis
                    purus.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
                <h1 class="faq-title">Can I pick my therapist?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-3">
                <p>Fames pulvinar fringilla ut lorem sem auctor nunc, aptent cursus convallis nisi penatibus nam
                    gravida, commodo tortor facilisi diam posuere class.</p>
            </div>
        </article>
        <article class="faq">
            <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
                <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed">add</i>
                    <i class="material-icons faq-toggle-open">remove</i>
                </div>
            </header>
            <div class="faq-body collapse" id="faq-item-4">
                <p>Nostra ipsum tortor habitasse ante lacinia class, conubia elit taciti pulvinar rhoncus
                    gravida, metus mollis id ut suspendisse.</p>
            </div>
        </article>
    </div>
</section>
<!-- "frequently asked questions" section end -->
<!-- "contacts" section start -->
<section class="section" id="register">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-lg-8 mb-14 mb-lg-0">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    We answer within 24 hours
                </small>
                <h1>Contact Us</h1>
                <form action="#" class="row mt-17">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name" class="form-label">First name</label>
                            <input type="text" class="form-control" id="first_name"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="last_name" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last_name"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone"/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="message" class="form-label">Message</label>
                            <textarea id="message" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="custom-checkbox" id="exampleCheck2" checked/>
                            <label class="form-check-label" for="exampleCheck2">
                                I've read and agree with the <a href="#">Terms & Policy</a>
                            </label>
                        </div>
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-lg">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">map</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Our address
                        </div>
                        <p class="mb-0 text-body">Brooklyn, NY 11204. 9359<br/>Hollow Lane. NY 11706.</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">phone</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Mobile Phone
                        </div>
                        <p class="mb-0 text-body">(917) 494 - 4476</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">access_time</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Working Hours
                        </div>
                        <p class="mb-0 text-body">11:00 AM - 9:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "contacts" section end -->

<!-- "map" section start -->
<section class="gmap" id="contact">
    <div class="gmap-embed" data-parallax-speed="0">
        <div class="gmap-embed-sizing-helper" style="padding-top: 650px"></div>
        <div class="gmap-embed-inner"
             data-options="{&quot;center&quot;:{&quot;lat&quot;:40.73774180898704,&quot;lng&quot;:-73.96465326476259},&quot;scrollwheel&quot;:false,&quot;zoom&quot;:14,&quot;disableDefaultUI&quot;:true,&quot;draggable&quot;:true}"></div>
    </div>

    <div class="gmap-infoboxes">
        <div class="gmap-infobox" data-latlng="40.744978 -73.951145">
            <div class="gmap-infobox-header">
                <h1 class="gmap-infobox-label">Long Island Office</h1>
            </div>

            <div class="gmap-infobox-details">
                <div class="gmap-infobox-details-item">
                    47-02 11th St, Long Island City, NY 11101, USA
                    <div>
                        <a class="get-direction-link"
                           href="https://maps.google.com?daddr=47-02+11th+St%2C+Long+Island+City%2C+NY+11101%2C+USA"
                           target="_blank">Get directions</a></div>
                </div>

                <div class="gmap-infobox-details-item">
                    Mon-Fri: 8:00 am - 5:00 pm<br/>
                    Sat: 8:00 am - 3:00 pm <br/>
                    Sun: Closed
                </div>

                <div class="gmap-infobox-details-item">
                    646-846-8996 <sup>Appointments</sup><br/>
                    212-355-2379 <sup>Fax</sup><br/>
                    <a href="mailto:contact@mail.com">contact@mail.com</a></div>
            </div>
        </div>
        <div class="gmap-infobox" data-latlng="40.7323995 -73.9897919">
            <div class="gmap-infobox-header">
                <h1 class="gmap-infobox-label">Manhattan Office</h1>
            </div>

            <div class="gmap-infobox-details">
                <div class="gmap-infobox-details-item">
                    100 E 12th St, New York, NY 10003
                    <div>
                        <a class="get-direction-link"
                           href="https://maps.google.com?daddr=100+E+12th+St%2C+New+York%2C+NY+10003" target="_blank">Get
                            directions</a></div>
                </div>

                <div class="gmap-infobox-details-item">
                    Mon-Fri: 8:00 am - 5:00 pm<br/>
                    Sat: 8:00 am - 3:00 pm <br/>
                    Sun: Closed
                </div>

                <div class="gmap-infobox-details-item">
                    646-846-8996 <sup>Appointments</sup><br/>
                    212-355-2379 <sup>Fax</sup><br/>
                    <a href="mailto:contact@mail.com">contact@mail.com</a></div>
            </div>
        </div>
    </div>
</section>
<!-- "map" section end -->
<!-- bottom hero start -->
<!-- <section class="hero hero-fullscreen text-white jarallax" data-speed="0.2">
    <div class="hero-background">
        <img src="assets/images/image-46.jpg" alt="hero background" class="jarallax-img"/>
    </div>
    <div class="hero-foreground text-center px-10">
        <div class="d-flex flex-column justify-content-center align-items-center py-25">
            <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                Profi landing pages
            </span>
            <h1 class="mt-5 mb-5 mb-md-18 fs-6 fs-md-10">Ready to get a new website?</h1>
            <a href="#" class="btn btn-lg btn-primary">Buy template</a>
        </div>
    </div>
</section> -->
<!-- bottom hero end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->
<style>
    #mask {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background: grey;
    }
    #caption{
      padding: 20px;
      max-width: 300px;
      font-size: 30px;
      font-weight: bold;
    }
  </style>
  <div id="mask" aria-hidden="true" tabindex="-1">
  <div class="card" tabindex="-1">
      <h1 tabindex="-1">Blindness empathy building exercise</h1>
      <p tabindex="-1">Navigate the website using <kbd>Tab</kbd> and <kbd>Arrow Up</kbd> <kbd>Arrow Down</kbd> <kbd>Arrow Left</kbd> <kbd>Arrow Right</kbd> <kbd>Enter</kbd> <kbd>Space</kbd></p>
      <form tabindex="-1">
        <div class="form-group" tabindex="-1">
          <label data-speech for="question1Answer">1. Question one ?</label>
          <input data-speech type="email" class="form-control" id="question1Answer" aria-describedby="emailHelp" tabindex="-1">
          <small data-speech id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group" tabindex="-1">
          <label for="question2Answer">2. Question two ?</label>
          <input type="text" class="form-control" id="question2Answer" tabindex="-1">
        </div>
        <div class="form-group" tabindex="-1">
          <label for="question2Answer">3. Question three ?</label>
          <input type="text" class="form-control" id="question3Answer" tabindex="-1">
        </div>
        <button type="submit" class="btn btn-primary" tabindex="-1">I'd better check with a friend, just in case.</button>
      </form>
  </div>
  <div id="caption" class="card"></div>
  </div>
  
  <button type="button" data-aria="button" data-speech class="btn btn-primary">Primary</button>
  <button type="button" data-aria="button" data-speech class="btn btn-secondary">Secondary</button>
  <button type="button" data-aria="button" data-speech class="btn btn-success">Success</button>
  <button type="button" data-aria="button" data-speech class="btn btn-danger">Danger</button>
  <button type="button" data-aria="button" data-speech class="btn btn-warning">Warning</button>
  <button type="button" data-aria="button" data-speech class="btn btn-info">Info</button>
  <button type="button" data-aria="button" data-speech class="btn btn-light">Light</button>
  <button type="button" data-aria="button" data-speech class="btn btn-dark">Dark</button>
  
  <button type="button" class="btn btn-link">Link</button>
  <div class="card quiz-container">
    <div>
      <h1>Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices nunc nisl, a iaculis libero molestie a. Duis ullamcorper eu justo in hendrerit. Curabitur luctus ultrices augue non ornare. Nam quis tellus pellentesque, pulvinar quam id, pharetra velit. Vivamus sagittis sapien non est aliquet, quis lacinia est consectetur. Mauris a turpis a sem convallis tempus. Phasellus tincidunt erat in bibendum vestibulum. Duis eget sem id tortor congue mollis a eu tortor. Etiam tellus tortor, congue eget odio ac, egestas ornare leo. Pellentesque sit amet venenatis sapien. Sed id arcu non augue sodales imperdiet. Nullam euismod ipsum at lacinia pellentesque. Maecenas libero tellus, gravida in accumsan non, placerat sed sapien.</p>
  
      <p>Vivamus in urna maximus, dictum purus lacinia, dictum turpis. Fusce sit amet purus tincidunt, consectetur sem ut, condimentum quam. Pellentesque et nibh risus. Donec ornare libero a enim eleifend malesuada. Vestibulum ac velit a nulla feugiat vulputate. Donec sapien mauris, vulputate vitae vehicula sed, volutpat semper libero. Donec metus elit, venenatis in iaculis id, vestibulum ac nulla. Duis at nisi non tellus fermentum scelerisque ut aliquet libero. Vestibulum vitae massa mollis, congue turpis sit amet, dapibus elit. Ut vulputate ullamcorper urna, eget commodo orci rutrum nec. Curabitur lobortis varius efficitur.</p>
  
      <p>Praesent in purus tincidunt, convallis lacus eget, scelerisque justo. Nam quis nisl commodo, tincidunt ipsum a, congue urna. Pellentesque tristique feugiat magna, a dignissim nibh tincidunt at. Quisque lectus diam, efficitur id fermentum a, tincidunt pretium sem. Mauris ipsum mauris, interdum in mauris quis, ullamcorper luctus nunc. Integer fermentum ullamcorper odio, et ornare tortor. Sed tristique odio ut augue tincidunt congue ut at sem. Sed mattis nisl a velit suscipit, non convallis quam lacinia. In efficitur lectus magna, non ullamcorper justo convallis sed. Donec sagittis mauris non neque lacinia tincidunt.</p>
  
      <button data-aria="button" data-speech >Click me</button>
    </div>
  </div>
<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/ally.js/1.4.1/ally.min.js"></script>
<script src="assets/js/app.js"></script>
<script>
    const caption = $("#caption");
$(document).ready(function (){
    $("[data-speech]").each(function(){
        var aria = $(this).data("aria") ? $(this).data("aria") : "";
        var text = $(this).text() ? $(this).text() : "";
        var val = $(this).val() ? $(this).val() : "";
        $(this).data("speech", aria + " " + text + " " + val);
    });
});

$(document).on('keyup',function(e) {
    var element = ally.get.activeElement();
    var text = $(element).data("speech") ? $(element).data("speech") : "No information";
    console.log(element);
    console.log(caption);
    caption.text(text);
});


</script>
</body>
</html>
