<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body>

<div id="page-start-anchor"></div>

<!-- header start -->
{% include 'includes/header.html' with {ctaButton: {text: 'Buy template', href: '#'}} %}
<!-- header end -->

<!-- main hero start -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img src="assets/images/image-45.jpg" alt="hero background" class="jarallax-img"/>
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
                <div class="card-body text-body p-10 p-lg-22">
                    <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">Landing Pages for Small Businesses</h2>
                    <p class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">
                        Create a beautiful website for your business with pre-designed Bootstrap landing pages.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary" target="_blank">Buy template</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main hero end -->

<!-- "landings list" section start -->
<section class="section pt-21 pb-10 pb-md-9 pb-lg-4">
    <div class="section-content container">
        <div class="text-center mb-18 mb-md-19 mb-lg-20">
            <small class="fs-1 lh-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Carefully handcrafted landings for your business
            </small>
            <h1 class="mt-5 mt-md-0 fs-6 fs-md-9 fs-lg-10">Explore landing pages</h1>
        </div>
        <div class="row">
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-1.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Massage Therapist</h1>
                    </div>
                    <a href="therapist.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-2.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Lawyer / Attorney</h1>
                    </div>
                    <a href="attorney.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-3.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Contractor</h1>
                    </div>
                    <a href="contractor.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-4.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Beauty Salon</h1>
                    </div>
                    <a href="beauty.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20">
                <div class="card demo-card">
                    <div class="card-body">
                        <img src="assets/images/demo-5.jpg" alt="landing screenshot">
                        <h1 class="mt-9 mb-0 fs-5 fs-md-6 fs-lg-7 text-black">Restaurant</h1>
                    </div>
                    <a href="restaurant.html" target="_blank" class="card-link-overlay"></a>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4 mb-18 mb-md-19 mb-lg-20 d-flex flex-column">
                <div class="demo-card-placeholder">
                    <div class="demo-card-placeholder-text">
                        <div class="text-gray-40 font-weight-medium mb-14" style="font-size: 21px">
                            More Landings<br/>Coming Soon
                        </div>
                        <a href="mailto:request@htmlhunters.com" class="btn btn-link">Request a landing</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- "landings list" section end -->

<!-- "advanced booking form" section start -->
<section class="section bg-primary text-white pb-xl-0 pt-21">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-xl-4 text-center text-xl-left">
                <h1 class="fs-8 fs-md-9 fs-xl-10">Advanced Booking Form</h1>
                <ul class="list-unstyled my-18">
                    <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Advanced
                        Booking Datepicker jQuery plugin
                    </li>
                    <li class="mb-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;One
                        page booking form
                    </li>
                    <li class="d-flex align-items-center justify-content-center justify-content-xl-start">
                        <i class="material-icons text-white mr-1 d-none d-sm-inline-block">check_circle</i>&nbsp;Easy
                        step by step form
                    </li>
                </ul>
                <a href="booking.html" target="_blank" class="btn btn-lg btn-ghost">See live</a>
            </div>
            <div class="col-xl-8 text-right d-none d-xl-block">
                <img src="assets/images/demo-6.png" alt="booking form" srcset="assets/images/demo-6@2x.png 2x" />
            </div>
        </div>
    </div>
</section>
<!-- "advanced booking form" section end -->

<!-- bottom hero start -->
<section class="hero hero-fullscreen text-white jarallax" data-speed="0.2">
    <div class="hero-background">
        <img src="assets/images/image-46.jpg" alt="hero background" class="jarallax-img"/>
    </div>
    <div class="hero-foreground text-center px-10">
        <div class="d-flex flex-column justify-content-center align-items-center py-25">
            <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                Profi landing pages
            </span>
            <h1 class="mt-5 mb-5 mb-md-18 fs-6 fs-md-10">Ready to get a new website?</h1>
            <a href="#" class="btn btn-lg btn-primary">Buy template</a>
        </div>
    </div>
</section>
<!-- bottom hero end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
