<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <title>Inclusiville Arts Festival 2021</title>
    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
<div id="page-start-anchor"></div>
<main>
<div id="content" role="application">
<!-- header start -->
{% include 'includes/header.html' with {ctaButton: {text: 'Register', href: '#register'}} %}
<!-- header end -->
<section class="hero hero-fullscreen jarallax" data-speed="0.2" style="min-height: calc(100vh - 140px)">
    <div class="hero-background">
        <img tabindex="0" src="assets/images/pexels-thanos-ayers-3835453.jpg" alt="Cobblestone alley with colourful umbrellas hanging overhead" class="jarallax-img"/>
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90" style="max-width: 770px">
                <div class="card-body text-body p-10 p-lg-22">
                    <h2 tabindex="0" class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">Inclusiville Arts Festival 2021</h2>
                    <p tabindex="0" class="fs-4 fs-md-5 mb-10 mx-auto" style="max-width: 530px">
                        A festival to celebrate the local creative talent held at Inclusiville Showgrounds this year.
                    </p>
                    <a href="#schedule" class="btn btn-lg btn-primary">View schedule</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main hero end -->
<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container text-center">
        <h1 tabindex="0" class="mb-0">Welcome to IAF 2021</h1>
        <div class="row no-gutters mt-6 mt-md-10 mt-lg-17">
            <div class="col-12 col-lg-10 offset-0 offset-lg-1">
                <p tabindex="0">This is a great space to write long text about your company and your services. You can use this space
                    to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show.</p>
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->
<!-- "our work" section start -->
<section class="section bg-secondary" id="schedule">
    <div class="section-content text-center container">
        <div class="d-flex justify-content-center justify-content-md-between align-items-end">
            <div class="text-center text-md-left">
                <small role="heading" tabindex="0" class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    Celebrating local talent
                </small>
                <h1 tabindex="0">Event Schedule</h1>
            </div>
            <div class="d-none d-md-block">
                <div class="btn-group">
                    <div class="radio-buttons-group border-0" data-toggle="shuffle-grid" data-target="#projects-grid">
                        <button class="btn btn-light selected" data-value="all">All</button>
                        <button class="btn btn-light" data-value="music">Music</button>
                        <button class="btn btn-light" data-value="art">Art</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shuffle-grid shuffle-grid-gap-14 shuffle-grid-cols-1 shuffle-grid-cols-md-2 shuffle-grid-cols-xl-4 mt-14" id="projects-grid">
            <div class="shuffle-grid-item" data-groups="art">
                <div class="card" tabindex="0">
                    <img class="card-img-top" src="assets/images/image-61.jpg" alt="A person dancing">
                    <div class="card-body">
                      <p role="heading" aria-level="5" tabindex="0" class="h5 card-title">The Digital Navigator: an interpretive dance <span class="text-muted">&mdash; 12pm</span></h5>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card" tabindex="0">
                    <img class="card-img-top" src="assets/images/image-59.jpg" alt="Headbanging Keyboards the band">
                    <div class="card-body">
                      <p role="heading" aria-level="5" tabindex="0" class="h5 card-title">Headbanging Keyboards <span class="text-muted">&ndash; 1pm</span></h5>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card" tabindex="0">
                    <img class="card-img-top" src="assets/images/instagram-2.jpg" alt="The Empaths the band">
                    <div class="card-body">
                      <p role="heading" aria-level="5" tabindex="0" class="h5 card-title">The Empaths <span class="text-muted">&ndash; 2pm</span></h5>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card" tabindex="0">
                    <img class="card-img-top" src="assets/images/image-30.jpg" alt="Wucag Tang Clang the band">
                    <div class="card-body">
                      <p role="heading" aria-level="5" tabindex="0" class="h5 card-title">Wucag Tang Clan <span class="text-muted">&mdash; 3pm</span></h5>
                    </div>
                </div>
            </div>
            <div class="shuffle-grid-item" data-groups="music">
                <div class="card" tabindex="0">
                    <img class="card-img-top" src="assets/images/pexels-rakicevic-nenad-769525.jpg" alt="Multiple fireworks in the sky with a man holding a sparkler on top of a hill at twilight">
                    <div class="card-body">
                      <p role="heading" aria-level="5" tabindex="0" class="h5 card-title">Closing event: Fireworks on the hills <span class="text-muted">&mdash; 6pm</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "our work" section end -->
<!-- "frequently asked questions" section start -->
<section class="section" id="faq">
    <div class="section-content container">
        <h1 tabindex="0" class="mb-17 text-center">FAQ</h1>
        <article class="faq faq-open">
            <button class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
                <h1 class="faq-title">Can I book a speficic seat?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed" aria-hidden="true">add</i>
                    <i class="material-icons faq-toggle-open" aria-hidden="true">remove</i>
                </div>
            </button>
            <div class="faq-body collapse show" id="faq-item-1">
                <p tabindex="0">All events are general admission, meaning that you are able to choose where to sit when you arrive. This works on a first come, first served basis.</p>
            </div>
        </article>
        <article class="faq">
            <button class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
                <h1 class="faq-title">Is the event family friedly? Are children welcome?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed" aria-hidden="true">add</i>
                    <i class="material-icons faq-toggle-open" aria-hidden="true">remove</i>
                </div>
            </button>
            <div class="faq-body collapse" id="faq-item-2">
                <p tabindex="0">IAF is an alcohol free, family friendly event held during the day. We welcome attendees of all ages, however, children under the age of 16 must be accompanied by a guardian.</p>
            </div>
        </article>
        <article class="faq">
            <button class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
                <h1 class="faq-title">Is the event dog friendly? Can I bring my guide dog?</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed" aria-hidden="true">add</i>
                    <i class="material-icons faq-toggle-open" aria-hidden="true">remove</i>
                </div>
            </button>
            <div class="faq-body collapse" id="faq-item-3">
                <p tabindex="0">Inclusiville Arts Festival allows guide dogs. If you find that you need assitance after you arrive at the showgrounds, there will be event staff available to assist you. Please indicate to the ticketing staff as you enter the grounds.</p>
            </div>
        </article>
        <article class="faq">
            <button class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
                <h1 class="faq-title">I need help navigating the showgrounds.</h1>
                <div class="faq-toggle">
                    <i class="material-icons faq-toggle-closed" aria-hidden="true">add</i>
                    <i class="material-icons faq-toggle-open" aria-hidden="true">remove</i>
                </div>
            </button>
            <div class="faq-body collapse" id="faq-item-4">
                <p tabindex="0">If you find that you need assitance after you arrive at the showgrounds, there will be event staff available to assist you. Please indicate to the ticketing staff as you enter the grounds.</p>
            </div>
        </article>
    </div>
</section>
<!-- "frequently asked questions" section end -->
<!-- "contacts" section start -->
<section class="section" id="register">
    <div class="section-content container">
        <div class="row">
            <div class="col-12 col-lg-8 mb-14 mb-lg-0">
                <h1 tabindex="0">Register</h1>
                <form id="registration-form" action="#" class="row mt-17 needs-validation" novalidate>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="first_name" class="form-label">First name</label>
                            <input type="text" class="form-control" id="first_name" required />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="last_name" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last_name" required />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="phone" required/>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" required />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-lg">Register</button>
                        </div>
                    </div>

                </form>                    
                <div id="status" class="alert alert-success mt-4">
                    Thank you, your registration was successful.
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons" aria-hidden="true">access_time</i></div>
                        <div role="heading" aria-level="3" tabindex="0" class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Festival date
                        </div>
                        <p role="heading" aria-level="3" tabindex="0" class="mb-0 text-body">3rd March 10:00 AM - 6:00 PM</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary mb-4 ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons" aria-hidden="true">map</i></div>
                        <div role="heading" aria-level="3" tabindex="0"class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Festival location
                        </div>
                        <p role="heading" aria-level="3" tabindex="0" class="mb-0 text-body">Inclusiville Showgrounds, Inclusiville<br/>XYZ 54321.</p>
                    </div>
                </div>
                <div class="card border-0 bg-secondary ml-lg-9">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons" aria-hidden="true">phone</i></div>
                        <div role="heading" aria-level="3" tabindex="0" class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Enquiries
                        </div>
                        <p role="heading" aria-level="3" tabindex="0" class="mb-0 text-body">(000) 123 - 4567</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "contacts" section end -->
<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

</div>
</main>

<style>
</style>
{% include 'includes/overlay.html' %}

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axe-core/4.1.3/axe.min.js"></script>
<script src="assets/js/app.js"></script>
<script>
    $(document).ready(function(){
        const caption = document.getElementById("caption");
        const step1 = $(".step-1");
        const step2 = $(".step-2");
        const step3 = $(".step-3");
        const step1NextBtn = $(".step-1 .next");
        const step2NextBtn = $(".step-2 .next");
        const step2PrevBtn = $(".step-2 .prev");
        const step3PrevBtn = $(".step-3 .prev");
        const resetBtn = $(".reset");
        const toggleBtn = $("#toggle-overlay-button");
        const overlay = $("#overlay");
        var correctAnswers = false;
        axe._tree = axe.utils.getFlattenedTree(document.body);
       
        // ignore tab for elements inside overlay
        document.querySelectorAll("#overlay *").forEach( e => {
            if (e.getAttribute("tabindex") == undefined) {
                e.setAttribute( "tabindex", -1 );
            }
        });

        // handle aria role and text from axe
        document.querySelectorAll("#content *").forEach( e => {
            e.addEventListener('focus', event => {
                var activeElement = document.activeElement;
                var ariaRole = axe.commons.aria.getRole(activeElement,  axe._tree);
                if (ariaRole) {
                   caption.textContent = ariaRole + ": "+ axe.commons.text.accessibleText(activeElement,  axe._tree);
                } else {
                    caption.textContent = axe.commons.text.accessibleText(activeElement,  axe._tree);
                }
            })
        });

        // quiz form
        var quizForm = document.getElementById('quiz-form');
        var inputs = quizForm.getElementsByClassName('form-control');
        quizForm.addEventListener('submit', function(event) {
            event.stopPropagation();
            event.preventDefault();
            quizForm.classList.add('was-validated');
            Array.from(inputs).forEach((input) => {
                var value = input.value ? input.value.toLowerCase() : null;
                var answer = input.getAttribute("answer")?.toLowerCase();
                if (value != answer || value === null) {
                    correctAnswers = false;
                    return false;
                }
                correctAnswers = true;
                input.parentNode.parentNode.classList.add("active");
                input.disabled = true;
            })
        }, false);

        // event registration form
        var registrationCheck = document.getElementById('registered');
        var regForm = document.getElementById('registration-form');
        var status = document.getElementById('status');
        regForm.addEventListener('submit', function(event) {
            event.preventDefault();
            event.stopPropagation();
            regForm.classList.add('was-validated');
            if (regForm.checkValidity() === false) {
                caption.textContent = "All fields are required. Please enter valid values.";
            } else {
                registrationCheck.parentNode.classList.add('active');
                registrationCheck.value="registered";
                regForm.style.display = "none";
                status.style.display = "block";
                caption.textContent = status.textContent;
            }
        }, false);

        // steps
        step1NextBtn.on("click", function () {
            $("[class^=step-]").stop().fadeOut("fast");
            step2.fadeIn("fast");
        });
        step2PrevBtn.on("click", function () {
            $("[class^=step-]").fadeOut("fast");
            step1.fadeIn("fast");
        });
        step2NextBtn.on("click", function () {
            if (correctAnswers) {
                $("[class^=step-]").stop().fadeOut("fast");
                step3.fadeIn("fast");
                overlay.addClass("finished");
            }
        });
        step3PrevBtn.on("click", function () {
            $("[class^=step-]").stop().fadeOut("fast");
            step2.fadeIn("fast");
            overlay.removeClass("finished");
        });
        resetBtn.on("click", function () {
            // reset forms
            $(".list-group-item").removeClass("active");
            registrationCheck.parentNode.classList.remove('active');
            registrationCheck.value="";
            regForm.style.display = "block";
            status.style.display = "none";
            caption.textContent = "";      
            $(".needs-validation input").attr("disabled", false);  
            $(".needs-validation input").val("");  
            $(".needs-validation").removeClass("was-validated");
            // ui
            $("[class^=step-]").stop().fadeOut("fast");
            step1.fadeIn("fast");
            overlay.removeClass("finished");
        });
        toggleBtn.on("click", function () {
            overlay.stop().fadeOut("fast").delay(3000).fadeIn("fast");
            //overlay.fadeToggle("fast");
        });
    });

    const keyCode = {
        'TAB': 9,
        'RETURN': 13,
        'ESC': 27,
        'SPACE': 32,
        'PAGEUP': 33,
        'PAGEDOWN': 34,
        'END': 35,
        'HOME': 36,
        'LEFT': 37,
        'UP': 38,
        'RIGHT': 39,
        'DOWN': 40
    }

    window.addEventListener("keydown", (e) => {
        var currentFocus = document.activeElement;
        switch (e.keyCode) {
            case keyCode.TAB:
                break;
            case keyCode.LEFT:
            case keyCode.UP:
                focusPreviousElement(currentFocus);
                break;
            case keyCode.RIGHT:
            case keyCode.DOWN:
                focusNextElement(currentFocus);
                break;
            default:
                break;
        }
    });
    </script>
</body>
</html>

