<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body>

<div id="page-start-anchor"></div>

<!-- header start -->
{% include 'includes/header.html' with {topNavbarText: true} %}
<!-- header end -->

<!-- page title start -->
<section class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="jumbotron-title mb-0">My starter page</h1>
    </div>
</section>
<!-- page title end -->

<!-- page content start -->
<section class="section py-21">
    <div class="section-content container">
        your content goes here
    </div>
</section>
<!-- page content end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
