<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PROFI</title>

    <link rel="stylesheet" href="assets/css/vendor.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.css">
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="140">

<div id="page-start-anchor"></div>

<!-- header start -->
{% set bottomNavbarItems = [
    {text: 'About', href: '#about', smoothScroll: true},
    {text: 'Services', href: '#services', smoothScroll: true},
    {text: 'Testimonials', href: '#testimonials', smoothScroll: true},
    {text: 'FAQ', href: '#faq', smoothScroll: true},
    {text: 'Vouchers', href: '#vouchers', smoothScroll: true},
    {text: 'Contacts', href: '#contacts', smoothScroll: true},
] %}
{% include 'includes/header.html' with {
    topNavbarText: true,
    ctaButton: {text: 'Book now', href: 'booking.html', target: '_self'},
    headerClasses: 'header-fixed-xl'
} %}
<!-- header end -->

<!-- main hero start -->
<section class="hero hero-fullscreen hero-bg-white" style="min-height: calc(100vh - 140px)">
    <div class="hero-background hero-background-stick-right hero-background-70-percent">
        <img src="assets/images/image-9.jpg" alt="hero background"/>
    </div>
    <div class="hero-foreground d-flex flex-column justify-content-center">
        <div class="container d-flex align-items-center justify-content-center justify-content-lg-start py-14 py-md-23 py-lg-25">
            <div class="card border-0 text-center text-lg-left" style="max-width: 595px">
                <div class="card-body text-body p-19 pl-lg-0 pr-lg-20 py-lg-20">
                    <h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-13 mb-10">Mobile Massage Therapist in NYC</h2>
                    <p class="fs-4 fs-md-5 mb-10">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                    <a href="booking.html" class="btn btn-lg btn-primary">Book online</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main hero end -->

<!-- "about" section start -->
<section class="section" id="about">
    <div class="section-content container">
        <div class="text-center mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Mobile massage in New York by
            </small>
            <h1 class="mb-0">Darren Jensen</h1>
        </div>
        <div class="row mb-20">
            <div class="col-12 col-lg-6 mb-9 mb-lg-0">
                <img src="assets/images/image-10.jpg" alt="photo" class="w-100 h-100 object-fit-cover"/>
            </div>
            <div class="col-12 col-lg-6">
                <p>This is a great space to write long text about your company and your services. You can use this space
                    to go into a little more detail about your company. Talk about your team and what services you
                    provide. Tell your visitors the story of how you came up with the idea for your business and what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you are.</p>
                <ul class="list-unstyled my-14">
                    <li class="mb-8 d-flex align-items-center">
                        <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Qualified massage therapist
                    </li>
                    <li class="mb-8 d-flex align-items-center">
                        <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;10 years of experience
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="material-icons text-primary mr-1">check_circle</i>&nbsp;Fully mobile massage therapist
                    </li>
                </ul>
                <a href="booking.html" class="btn btn-lg btn-outline-primary">Book online</a>
            </div>
        </div>
        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
            As seen in
        </small>
        <div class="d-flex align-items-start align-items-lg-center flex-column flex-lg-row mt-8">
            <div class="card-slider card-slider-brands mr-0 mr-lg-23 flex-grow-1 w-100" id="brands-slider" data-options='{"contain":false,"groupCells":false,"wrapAround":true}'>
                <img src="assets/images/brand-1.jpg" class="card-slider-item" alt="brand 1" style="height: 36px"/>
                <img src="assets/images/brand-2.jpg" class="card-slider-item" alt="brand 2" style="height: 36px"/>
                <img src="assets/images/brand-3.jpg" class="card-slider-item" alt="brand 3" style="height: 36px"/>
                <img src="assets/images/brand-4.jpg" class="card-slider-item" alt="brand 4" style="height: 36px"/>
                <img src="assets/images/brand-5.jpg" class="card-slider-item" alt="brand 5" style="height: 36px"/>
                <img src="assets/images/brand-1.jpg" class="card-slider-item" alt="brand 1" style="height: 36px"/>
                <img src="assets/images/brand-2.jpg" class="card-slider-item" alt="brand 2" style="height: 36px"/>
                <img src="assets/images/brand-3.jpg" class="card-slider-item" alt="brand 3" style="height: 36px"/>
            </div>
            <div class="flex-shrink-0 mt-8 mt-lg-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#brands-slider" data-action="prevSlide">
                        <i class="material-icons">arrow_left</i>
                    </button>
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#brands-slider" data-action="nextSlide">
                        <i class="material-icons">arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "about" section end -->

<div id="services">
    <!-- "signature massage service" section start -->
    <section class="section py-0 bg-secondary">
        <div class="section-content d-flex">
            <div class="w-50 flex-shrink-0 flex-grow-1 px-14 py-14 px-md-20 py-md-18 px-lg-22 py-lg-24">
                <h1 class="fs-6 fs-md-8 fs-lg-9">Signature Massage</h1>
                <p class="my-11" style="max-width: 500px">Our signature blend of Orthopedic Deep Tissue & relaxing
                    Swedish
                    massage to relieve chronic muscle pain, aid injury recovery & improve postural conditions.</p>
                <div class="d-flex align-items-center my-11">
                    <div class="radio-buttons-group mr-9">
                        <button class="btn btn-light" data-value="60min">60 min</button>
                        <button class="btn btn-light selected" data-value="90min">90 min</button>
                    </div>
                    <div class="price fs-7 text-black">
                        <div class="price-currency pr-0">$</div>
                        <div class="price-value">110</div>
                    </div>
                </div>
                <a href="booking.html" class="btn btn-link btn-warning">Book online</a>
            </div>
            <div class="w-50 flex-shrink-0 flex-grow-0 d-none d-md-block position-relative">
                <img src="assets/images/image-12.jpg" alt="photo"
                     class="w-100 h-100 object-fit-cover absolute-overlay"/>
            </div>
        </div>
    </section>
    <!-- "signature massage service" section end -->

    <!-- "foot massage service" section start -->
    <section class="section py-0 bg-secondary">
        <div class="section-content d-flex">
            <div class="w-50 flex-shrink-0 flex-grow-0 d-none d-md-block position-relative">
                <img src="assets/images/image-11.jpg" alt="photo"
                     class="w-100 h-100 object-fit-cover absolute-overlay"/>
            </div>
            <div class="w-50 flex-shrink-0 flex-grow-1 px-14 py-14 px-md-20 py-md-18 px-lg-22 py-lg-24">
                <h1 class="fs-6 fs-md-8 fs-lg-9">Foot Massage</h1>
                <p class="my-11" style="max-width: 500px">Our signature blend of Orthopedic Deep Tissue & relaxing
                    Swedish
                    massage to relieve chronic muscle pain, aid injury recovery & improve postural conditions.</p>
                <div class="d-flex align-items-center my-11">
                    <div class="radio-buttons-group mr-9">
                        <button class="btn btn-light" data-value="60min">60 min</button>
                    </div>
                    <div class="price fs-7 text-black">
                        <div class="price-currency pr-0">$</div>
                        <div class="price-value">110</div>
                    </div>
                </div>
                <a href="booking.html" class="btn btn-link btn-warning">Book online</a>
            </div>
        </div>
    </section>
    <!-- "foot massage service" section end -->
</div>

<!-- "testimonials" section start -->
<section class="section" id="testimonials">
    <div class="section-content container">
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
            <div class="text-center text-sm-left">
                <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                    #1 Rated Mobile Massage in zurich
                </small>
                <h1>Testimonials</h1>
            </div>
            <div class="d-none d-sm-block">
                <div class="btn-group">
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#testimonials-slider" data-action="prevSlide">
                        <i class="material-icons">arrow_left</i>
                    </button>
                    <button type="button" class="btn btn-light btn-square" data-toggle="card-slider"
                            data-target="#testimonials-slider" data-action="nextSlide">
                        <i class="material-icons">arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-slider card-slider-viewport card-slider-services mt-15" id="testimonials-slider">
            <article class="card-slider-item">
                <div class="card border-light card-accent-left" data-mh="testimonials-slider">
                    <div class="card-body p-19 p-md-20 d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/avatar-1.jpg" alt="avatar" width="50" class="rounded-circle"/>
                            <div class="ml-9">
                                <div class="text-black font-weight-medium fs-5 lh-5 mb-4">Todd Barr</div>
                                <div class="text-muted fs-3 lh-4">Sweedish Massage</div>
                            </div>
                        </div>
                        <blockquote class="my-14">
                            <p>“Feugiat condimentum lorem congue id dictum aenean nascetur varius tortor, euismod nec
                                parturient ullamcorper inceptos bibendum pellentesque quisque, laoreet
                                iaculis finibus velit fames lacinia mi etiam.”</p>
                        </blockquote>
                        <div class="star-rating">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_half</i>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-slider-item">
                <div class="card border-light card-accent-left" data-mh="testimonials-slider">
                    <div class="card-body p-19 p-md-20 d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/avatar-2.jpg" alt="avatar" width="50" class="rounded-circle"/>
                            <div class="ml-9">
                                <div class="text-black font-weight-medium fs-5 lh-5 mb-4">Kevin Thomas</div>
                                <div class="text-muted fs-3 lh-4">Sweedish Massage</div>
                            </div>
                        </div>
                        <blockquote class="my-14">
                            <p>“Amazing massage thank you. Incredibly knowledgeable and aware of our individual body
                                issues
                                and needs for today’s treatments.”</p>
                        </blockquote>
                        <div class="star-rating mt-auto">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_border</i>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-slider-item">
                <div class="card border-light card-accent-left" data-mh="testimonials-slider">
                    <div class="card-body p-19 p-md-20 d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/avatar-3.jpg" alt="avatar" width="50" class="rounded-circle"/>
                            <div class="ml-9">
                                <div class="text-black font-weight-medium fs-5 lh-5 mb-4">David Jenkins</div>
                                <div class="text-muted fs-3 lh-4">Sweedish Massage</div>
                            </div>
                        </div>
                        <blockquote class="my-14">
                            <p>“Vel volutpat elit est dignissim diam viverra quis id, placerat et maecenas nulla nec
                                nullam
                                iaculis adipiscing felis, ac vivamus eleifend ridiculus massa auctor convallis.”</p>
                        </blockquote>
                        <div class="star-rating mt-auto">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                        </div>
                    </div>
                </div>
            </article>
            <article class="card-slider-item">
                <div class="card border-light card-accent-left" data-mh="testimonials-slider">
                    <div class="card-body p-19 p-md-20 d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/avatar-4.jpg" alt="avatar" width="50" class="rounded-circle"/>
                            <div class="ml-9">
                                <div class="text-black font-weight-medium fs-5 lh-5 mb-4">James Baker</div>
                                <div class="text-muted fs-3 lh-4">Sweedish Massage</div>
                            </div>
                        </div>
                        <blockquote class="my-14">
                            <p>“Parturient hendrerit pharetra ridiculus eleifend dictumst aenean facilisi, varius etiam
                                consequat tempor vivamus lorem suspendisse laoreet, ullamcorper sem volutpat orci tellus
                                erat.”</p>
                        </blockquote>
                        <div class="star-rating mt-auto">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_half</i>
                            <i class="material-icons">star_border</i>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- "testimonials" section end -->

<!-- "call to action" section start -->
<section class="section jarallax text-white" data-jarallax data-speed="0.2">
    <img class="section-background-image jarallax-img" src="assets/images/image-13.jpg" alt="background image"/>
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.2)"></div>
    <div class="section-content container d-flex flex-column align-items-center">
        <span class="badge badge-pill badge-ghost fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
            Easy 3 steps online booking
        </span>
        <h1 class="mt-5 mb-17 fs-9 fs-md-10">Ready to get a massage?</h1>
        <a href="booking.html" class="btn btn-lg btn-primary">Book online</a>
    </div>
</section>
<!-- "call to action" section end -->

<!-- "frequently asked questions" section start -->
<section class="section" id="faq">
    <div class="section-content container">
        <div class="mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Frequently Asked Questions
            </small>
            <h1 class="mb-0">FAQ</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <article class="faq faq-open">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-1" aria-expanded="true">
                        <h1 class="faq-title">What is Swedish massage?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse show" id="faq-item-1">
                        <p>Dictumst placerat suscipit dui suspendisse lacus ridiculus dis facilisis massa commodo,
                            feugiat sagittis eleifend arcu erat tempor integer sollicitudin metus, mollis bibendum
                            vestibulum diam nec tellus felis tristique pretium.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-2" aria-expanded="false">
                        <h1 class="faq-title">What types of services does Blys offer?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-2">
                        <p>Accumsan nibh facilisis efficitur netus dapibus facilisi proin lacinia, finibus phasellus
                            quis placerat ante per lorem senectus nisl, gravida vestibulum eros aenean sed convallis
                            purus.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-3" aria-expanded="false">
                        <h1 class="faq-title">Can I pick my therapist?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-3">
                        <p>Fames pulvinar fringilla ut lorem sem auctor nunc, aptent cursus convallis nisi penatibus nam
                            gravida, commodo tortor facilisi diam posuere class.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-4" aria-expanded="false">
                        <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-4">
                        <p>Nostra ipsum tortor habitasse ante lacinia class, conubia elit taciti pulvinar rhoncus
                            gravida, metus mollis id ut suspendisse.</p>
                    </div>
                </article>
            </div>
            <div class="col-12 col-lg-6">
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-5" aria-expanded="false">
                        <h1 class="faq-title">How does Blys Massage at home work?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-5">
                        <p>Ligula lorem luctus quis litora vulputate fringilla quisque sollicitudin egestas sit viverra,
                            facilisis ante vehicula fames scelerisque libero pulvinar donec aliquet fermentum mus,
                            venenatis ut phasellus natoque inceptos hac nullam porttitor vel tristique.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-6" aria-expanded="false">
                        <h1 class="faq-title">What types of services does Blys offer?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-6">
                        <p>Nascetur platea tincidunt lorem aenean vehicula vitae consequat, suspendisse eu iaculis velit
                            finibus quisque, enim amet tempor odio maecenas varius mus, lacus urna sodales aliquam
                            lobortis.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-7" aria-expanded="false">
                        <h1 class="faq-title">Can I pick my therapist?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-7">
                        <p>Eros sociosqu egestas hac varius netus iaculis posuere dis, maximus sed dapibus senectus
                            malesuada rutrum donec facilisi, ullamcorper aliquet pulvinar nostra fames amet
                            nascetur.</p>
                    </div>
                </article>
                <article class="faq">
                    <header class="faq-header" data-toggle="collapse" data-target="#faq-item-8" aria-expanded="false">
                        <h1 class="faq-title">Can I re-book with the same therapists?</h1>
                        <div class="faq-toggle">
                            <i class="material-icons faq-toggle-closed">add</i>
                            <i class="material-icons faq-toggle-open">remove</i>
                        </div>
                    </header>
                    <div class="faq-body collapse" id="faq-item-8">
                        <p>Fusce erat hac iaculis interdum faucibus tempus vivamus, justo consectetur maximus tristique
                            turpis mi tortor, purus odio magna tellus in fermentum.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- "frequently asked questions" section end -->

<!-- "vouchers" section start -->
<section class="section jarallax" data-jarallax data-speed="0.2" id="vouchers">
    <img class="section-background-image jarallax-img" src="assets/images/image-14.jpg" alt="background image"/>
    <div class="section-background-color" style="background-color: rgba(0, 0, 0, 0.25)"></div>
    <div class="section-content container">
        <div class="text-center text-white mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption">
                SPA QUALITY MASSAGES
            </small>
            <h1 class="mb-0">Gift Vouchers</h1>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-14 mb-lg-0">
                <div class="card border-0">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Single Massage</h1>
                        <p class="mb-12">A single session of 60, 90 or 120min in-home massage.</p>
                        <div class="price fs-7 text-black mb-12">
                            <div class="price-currency pr-0">$</div>
                            <div class="price-value">110</div>
                        </div>
                        <a href="#" class="btn btn-outline-primary d-block">Get voucher</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-14 mb-lg-0">
                <div class="card border-0">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <div class="ribbon ribbon-left ribbon-danger ribbon-float-top-right mt-9 px-10">Popular</div>
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Ultimate Package</h1>
                        <p class="mb-12">A special package of 5 or 10 massages of ultimate bliss.</p>
                        <div class="price fs-7 text-black mb-12">
                            <div class="price-currency pr-0">$</div>
                            <div class="price-value">190</div>
                        </div>
                        <a href="#" class="btn btn-outline-primary d-block">Get voucher</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 bg-primary text-white">
                    <div class="card-body d-flex flex-column p-19 p-md-20" data-mh="gift-vouchers">
                        <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-white-50">
                            Redeem Gift
                        </small>
                        <h1 class="fs-6 fs-md-8 fs-xl-9 mb-12">Book your massage</h1>
                        <p class="mb-12 text-white">Received a gift voucher? Book your massage here.</p>
                        <a href="#" class="btn btn-outline-light d-block mt-auto">Get voucher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- "vouchers" section end -->

<!-- "contact & location" section start -->
<section class="section" id="contacts">
    <div class="section-content container">
        <div class="mb-17">
            <small class="fs-1 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                Cozy Massage Room
            </small>
            <h1 class="mb-0">Contact & Location</h1>
        </div>
    </div>
    <div class="section-content container">
        <div class="image-slider">
            <a href="#" class="image-slider-prev d-none d-md-flex">
                <i class="material-icons">arrow_back</i>
            </a>
            <a href="#" class="image-slider-next d-none d-md-flex">
                <i class="material-icons">arrow_forward</i>
            </a>
            <div class="image-slider-contents">
                <img src="assets/images/image-15.jpg" alt="image" class="image-slider-item"/>
                <img src="assets/images/image-16.jpg" alt="image" class="image-slider-item"/>
            </div>
        </div>
        <div class="bg-primary p-19 p-lg-20 d-flex justify-content-between flex-column flex-lg-row">
            <p class="mb-lg-0 text-white" style="max-width: 500px">Also you can book a massage at my location,
                I have a cosy massage room that is fully equipped and will make you feel comfortable.</p>
            <a href="booking.html" class="btn btn-white-primary">Book online</a>
        </div>
    </div>
    <div class="section-content container py-19 py-lg-20">
        <div class="row vertical-divider-light">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">location_on</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            By appointment only
                        </div>
                        <p class="mb-0 text-body">Müllerstrasse 57, 8004<br/>Zürich, Switzerland</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">phone</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Mobile phone
                        </div>
                        <p class="mb-0 text-body">+41 79 123 45 67</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">access_time</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Working hours
                        </div>
                        <p class="mb-0 text-body">11:00 AM - 9:00 PM</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card border-0">
                    <div class="card-body py-17 px-10 text-center">
                        <div class="card-icon mb-6"><i class="material-icons">alternate_email</i></div>
                        <div class="fs-1 lh-1 my-5 font-family-secondary text-uppercase font-weight-bold letter-spacing-caption text-muted">
                            Email
                        </div>
                        <p class="mb-0 text-body">profi@mail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content container">
        <a href="#" class="btn btn-light bg-white border-0 position-absolute-center">@username</a>
        <div class="row">
            <div class="col-6 col-lg-3 mb-14 mb-lg-0">
                <a href="#">
                    <img src="assets/images/instagram-1.jpg" alt="instagram photo" class="w-100">
                </a>
            </div>
            <div class="col-6 col-lg-3 mb-14 mb-lg-0">
                <a href="#">
                    <img src="assets/images/instagram-2.jpg" alt="instagram photo" class="w-100">
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="#">
                    <img src="assets/images/instagram-3.jpg" alt="instagram photo" class="w-100">
                </a>
            </div>
            <div class="col-6 col-lg-3">
                <a href="#">
                    <img src="assets/images/instagram-4.jpg" alt="instagram photo" class="w-100">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- "contact & location" section end -->

<!-- footer start -->
{% include 'includes/footer.html' %}
<!-- footer end -->

<script src="assets/js/vendor.js"></script>
<script src="assets/js/polyfills.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
